/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE        0
#define FUNC        1

/ {
    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder_1>;
        triggers-per-rotation = <24>;
    };

    macros {
        new_macro: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(H) &kp A &kp P &kp P &kp Y &kp SPACE &kp LS(B) &kp I &kp R &kp T &kp H &kp D &kp A &kp Y>;
            label = "NEW_MACRO";
        };

        yt: yt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp Y &kp O &kp U &kp T &kp U &kp B &kp E &kp DOT &kp C &kp O &kp M>;
            label = "YT";
        };

        keyboardtest: keyboard {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp H &kp T &kp T &kp P &kp S &kp COLON &kp FSLH &kp FSLH &kp E &kp N &kp DOT &kp K &kp E &kp Y &kp MINUS &kp T &kp E &kp S &kp T &kp DOT &kp R &kp U &kp FSLH>;
            label = "KEYBOARD";
        };

        keyboardedit: keyboardedit {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp H &kp T &kp T &kp P &kp S &kp COLON &kp FSLH &kp FSLH &kp N &kp I &kp C &kp K &kp C &kp O &kp U &kp T &kp S &kp O &kp S &kp DOT &kp G &kp I &kp T &kp H &kp U &kp B &kp DOT &kp I &kp O &kp FSLH &kp K &kp E &kp Y &kp M &kp A &kp P &kp MINUS &kp E &kp D &kp I &kp T &kp O &kp R &kp FSLH>;
            label = "KEYBOARDEDIT";
        };

        git: git {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp H &kp T &kp T &kp P &kp S &kp COLON &kp FSLH &kp FSLH &kp N &kp I &kp C &kp K &kp C &kp O &kp U &kp T &kp S &kp O &kp S &kp DOT &kp G &kp I &kp T &kp H &kp U &kp B &kp DOT &kp I &kp O &kp FSLH &kp K &kp E &kp Y &kp M &kp A &kp P &kp MINUS &kp E &kp D &kp I &kp T &kp O &kp R &kp FSLH &kp RET>;
            label = "GIT";
        };
    };

    behaviors {
        b_doubletap: b_doubletap {
            compatible = "zmk,behavior-tap-dance";
            label = "B_DOUBLETAP";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp UNDER>;
        };

        c_doubletap: c_doubletap {
            compatible = "zmk,behavior-tap-dance";
            label = "C_DOUBLETAP";
            #binding-cells = <0>;
            bindings = <&kp C>, <&yt>;
        };

        k_multipletap: k_multipletap {
            compatible = "zmk,behavior-tap-dance";
            label = "K_MULTIPLETAP";
            #binding-cells = <0>;
            bindings = <&kp K>, <&keyboardtest>, <&keyboardedit>;
        };

        g_doubletap: g_doubletap {
            compatible = "zmk,behavior-tap-dance";
            label = "G_DOUBLETAP";
            #binding-cells = <0>;
            bindings = <&kp G>, <&git>;
        };
    };

    combos {
        compatible = "zmk,combos";

        zcob {
            bindings = <&kp ESCAPE>;
            key-positions = <6 8>;
            layers = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------//
            // | Q    | W     | ENCODER | //
            // | A    | S     | D       | //
            // | Z    | X     | FN      | //

            display-name = "default";
            bindings = <
&b_doubletap    &kp LEFT_WIN    &to 1
&kp BACKSPACE   &kp UP_ARROW    &kp ENTER
&kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
        };

        function_layer {
            // --------------------------- //
            // | BT_CLR | none | ENCODER | //
            // | BT_0   | BT_1 | BT_2    | //
            // | BT_3   | BT_4 | trans   | //

            display-name = "function";
            bindings = <
&bt BT_CLR    &none         &to 2
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2
&bt BT_SEL 3  &bt BT_SEL 4  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        layer_2 {
            bindings = <
&kp C_PAUSE  &c_doubletap  &to 3
&kp INS      &kp HOME      &kp PG_UP
&kp DELETE   &kp END       &kp PAGE_DOWN
            >;
        };

        layer_3 {
            bindings = <
&k_multipletap  &git    &to 0
&trans          &trans  &trans
&trans          &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp LWIN RIGHT_WIN>;
        };
    };
};
